body {
  margin: 0;
}
.container {
  display: grid;
  height: 100vh;
}
.item {
  text-align: center;
  justify-self: center;
  align-self: center;
}
.title {
  margin: 10px;
  font-size: 4em;
}
.button {
  margin: 10px;
  padding: 10px;
}
